#define v_items_ARMOR_ITEM ID NAME VALUE RESISTANCE
  [set_variables]
    name = items.armor.{ID}
    mode = replace
    [value]
      value = {VALUE}
      string = {NAME}
      [unit]
	[variables]
	  armor = {ID}
	[/variables]
	[resistance]
	  {RESISTANCE}
	[/resistance]
      [/unit]
    [/value]
  [/set_variables]
#enddef

#define v_items_ARMOR_ENCHANTMENT ID NAME VALUE RESISTANCE
  [set_variables]
    name = enchantments.armor.{ID}
    mode = replace
    [value]
      value = {VALUE}
      [unit]
	[variables]
	  armor_enchantment = {ID}
	  string = {NAME}
	[/variables]
	[resistance]
	  {RESISTANCE}
	[/resistance]
      [/unit]
    [/value]
  [/set_variables]
#enddef

[event]
  name = prestart

  {v_items_ARMOR_ITEM clothes ( _ "Clothes" ) 5 (
    blade = 100
    pierce = 100
    impact = 100
    fire = 110
    cold = 110
    arcane = 100
  )}

  {v_items_ARMOR_ITEM leather_armor ( _ "Leather Armor" ) 10 (
    blade = 100
    pierce = 90
    impact = 100
    fire = 100
    cold = 100
    arcane = 100
  )}

  {v_items_ARMOR_ENCHANTMENT fire_resistant ( _ "Fire Resistant" ) 50 (
    blade = 0
    pierce = 0
    impact = 0
    fire = -30
    cold = 0
    arcane = 0
  )}
[/event]